@font-face {
    font-family: "Kumbh Sans";
    src: url(../fonts/Kumbh_Sans/KumbhSans-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Kumbh Sans";
    src: url(../fonts/Kumbh_Sans/KumbhSans-Regular.ttf);
    font-weight: 400;
}